body {
    margin-left : 10% ;
    margin-right : 10% ;
    margin-top : 2% ; 
    margin-bottom : 5% ; 
    background-color : rgb(192, 180, 180) ; 

}

/*----------------------en-tête---------------------*/

header {
    position : relative ; 
    top : 0px ; 
    background-color :  rgb(141, 132, 132) ;
    border-radius : 4px ; 
    box-shadow : 8px 8px 7px black ; 
    margin : 20px ; 
    height : 10vw ;
}

h1  {
    font-size : 2vw ; 
    font-weight : bold ; 
    text-decoration : underline ; 
    text-transform : uppercase ;
    text-align : center ; 
    line-height : 2em ;
    position : relative ; 
} 

img {
    position : absolute ;
    top : 1vw ; 
    left : 5vw ; 
    width : 5vw ; 
}

figcaption {
    font-size : 1.5vw ; 
    font-style : italic ; 
    position : absolute ;
    left : 5vw ; 
    bottom : .5vw ; 
}

/*--------------tableau--------------------------*/
#tableau {
    border-collapse : separate  ;
    border-spacing : 0px ; 
    text-align : center ; 
    margin-left : auto ;
    margin-right : auto ; 
} 

td {
    border : .07em solid ; 
} 

.vide {
    border: none ; 
}

#tableau th, #tableau td {
    width : 4vw ;
    height : 4vw ; 
    position : relative ;
}

h2 {
    font-size : 1.5vw ; 
    font-weight : bold ; 
    text-decoration : underline ; 
    text-transform : uppercase ;
    line-height : 2em ;
}


/*---------- ligne entre les deux parties du tableau------*/
#avant-derniere-ligne td {
    border-top: 3px solid black;
}

/*-------position des données dans chaque case-----*/
.nom {
    font-size : 2vw ; 
    text-align : center ; 
     
}

.no {
    font-size : 1vw ;
    position : absolute ;
    bottom : 0 ;
    left : 0 ; 
}

.ma {
    font-size: 1vw ; 
    position : absolute ;
    top : 0 ;
    right : 0 ; 
}


/*------- couleurs des cases -----------*/
.métaux-alcalins {
    background-color : white ;
}

.alcalino-terreux {
    background-color : salmon ; 
}

.métaux-pauvres {
    background-color : grey ;
}

.métaux-de-transition {
    background-color : yellow ;
}

.métalloïdes {
    background-color: green ;
}
.non-métaux {
    background-color : khaki ;
}

.halogènes {
    background-color: rgb(102, 102, 243) ;
}

.gaz-rares {
    background-color: pink ;
}

.lanthanfildes {
    background-color : peachpuff ; 
}

.actinides {
    background-color  : sandybrown ; 
}

#legende {
    background-color : white ; 
}