body {
    background-color : rgb(240, 233, 137)  ; 
    margin-left : 100px ;
    margin-right: 100px ;
    padding : 8px ; 
    padding-bottom : 40px ; 
}

a {
    color: inherit ;
    text-decoration : none ;
}

/*----------------------en-tête (header)---------------------------*/

header {
    position : relative ; 
    background-image : url(carreaux.jpeg) ;
    background-repeat : 100% ;
    border-radius : 16px ; 
    box-shadow : 8px 8px 7px rgb(131, 5, 5); 
    height : 100px ; 
}

h1 {
    font-style : italic ;
    font-size : 3em ;
    color : rgb(113, 132, 243) ;
    position : absolute ; 
    left : 10px ;
    top : -20px ; 
}

h5 {
    font-size : 1em ;
    color : black ; 
    position : absolute ; 
    left : 30px ; 
    bottom : 0px ; 
} 

#sandwich1 {
    height : 80px ; 
    margin : 10px ; 
    border-radius : 8px ; 
    position :  absolute ; 
    right : 1px ; 
    bottom : 0px ; 
}

/*----------------------contenu (section)----------------------------*/

section {
    position : absolute ;
    top : 130px ; 
    left : 260px ; 
    right : 260px ; 
    margin : 40px ; 
    padding-bottom : 40px ;
}

h2 {
    font-weight : bold ;
    font-size : 2em ;
    color : rgb(241, 141, 141) ;
}

p #recette , #choix {
    font-weight : none ;
    font-size : 1em ;
    color : black ;
}

h3 {
    font-weight : bold ;
    text-decoration : underline ;
    font-size : 1.3em ;
    color : rgb(197, 70, 70) ;
}

span {
    font-weight : bold ;
    font-size : 1em ;
    color : rgb(243, 137, 76) ;
}

#case {
    background-color : rgb(182, 250, 250) ;
    width : 600px ;
}

.sandwich {
    height : 70px ; 
    display : inline ; 
    padding : 2px ; 
}

/*----------------------menu à gauche (nav)---------------------------*/

nav {
    position : absolute ;
    top : 150px ; 
    left : 120px ; 
    right : 120px ; 
    width: 140px ; 
}

.menu, .menu ul { 
    list-style-type: none; 
    margin: 0px;
    padding: 0px;
}

.menu ul {
    display: none;
}

.menu li {
    position: relative;
    background-color : pink ; 
    border : solid black 1px ; 
}

.menu a {
    display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    padding: 3px 10px;
    text-align: center;
    color : black ; 
}

.menu ul li {
    background-color : rgb(172, 69, 86) ;
    border : solid black 1px ; 
}

.menu li:hover ul {
    display: block ;
    position: absolute;
    top: 0px; 
    left: 140px; 
    z-index: 100; 
}

.menu a:hover {
    background-color : salmon ;
}

#vide {
    border : solid black 1px ; 
    background-color : rgb(196, 240, 138) ;
    color : black ; 
    width : 138px ; 
    height: 300px ; 
    position : relative ; 
    top : 0px ;
}

#bouton {
    border : solid black 1px ; 
    background-color : white ;
    text-align : center ; 
    color : black ; 
    font-size : 1em ; 
    width : 75px;
    height : 25px; 
    line-height: 25px;
    position : relative ; 
    top : -10px ; 
    border-radius : 8px ; 
    box-shadow : -8px -8px -7px black ; 
}

/*----------------------pub (à droite aside)---------------------------*/

aside {
    position : absolute ; 
    top : 150px; 
    right : 120px ;  
    width : 140px ; 
}

.pub {
    width : 140px ; 
    display : block ; 
    padding-bottom : 5px ; 
}

/*----------------------pied de page (footer)---------------------------*/

footer {
    font-size : .7em ; 
    position: absolute ;
    top : 110px ; 
    right : 120px ; 
}