
/*  règles de base de CSS */



html{
    color: rgb(63, 63, 65) ; 
    font-family: Verdana ;
    font-size: .9em ; 
}

h1{ 
    color: #990000 ;
    font-size: 2em ; 
    margin : 0 0 .5em ; 
}
 
h2 {
    margin : 0 ; 
}

a {
    color: inherit
}

a[href$=".pdf"]{
    background-image : url("pdf.png") ; 
    background-size : contain ; 
    background-repeat : no-repeat ;   
    padding-left : 2em ; 
}

a[href$=".docx"]{
    background-image : url("word.png") ;
    background-size : contain ;
    background-repeat : no-repeat ;
    padding-left : 2em ;
}

/*  règles de positionnement de CSS */

/*
 #entete, #entete nav, #colgauche, #contenu, #pied, body {
        border : 1px solid #990000 ;
 }
 */
 

 body {
     margin : 0px ; 
     padding-bottom : 40px ; 
 }
 #entete {
      position : relative ; 

 } 

 #entete nav {
     position : absolute ; 
     bottom : 0 ; 
     right : 0 ;
    
 }

 #colgauche {
     position : absolute ; 
     width : 160px ; 
 }

 #contenu {
     margin-left : 160px ; 
     margin-top : 30px ;
 }

 #pied {
     position : fixed ; 
     bottom : 0 ; 
     width : 100% ; 
 }

/*    entete     */
header {
    background-color : rgb(255, 199, 159) ;
}

header nav {
    margin : 0 8px ;  
}

header nav a {
    background-color : peachpuff ; 
    border-left : 2px solid #990000 ; 
    display : inline-block ; 
    padding : .2em  1em ; 
}

header nav a:hover {
    background-color : salmon ; 
}
nav a {
    text-decoration : none ;
}

header nav a:first-child { 
    border-left : none ; 
    border-radius : 8px 0 0 0 ; 
}

header nav a:last-child {
    border-radius : 0 8px 0 0 ; 
}

.menu a:hover {
    background-color : salmon ; 
}

footer {
    background-color : rgb(255, 199, 159) ; 
}


/*   fable (class="fable")  */
.fable { 
    background-color: #990000; 
    color: white;  
    font-family: "Dancing Script", cursive ; 
    font-size: 1.5em ; 
    text-align: justify ; 
    line-height:  2em ; 
    letter-spacing: .1em ; 
    font-style: italic ; 
    padding:  1em ; 
    border-radius : 2em ; 
}

/*   menu (class="menu")  */
.menu {
    background-color : #990000 ;
    color : white ;
}

.menu a {
    display : block ; 
    padding : .5em 1em ; 
    border-bottom : 1px solid black ; 
}