



h1 { color: darkgreen ; 
    text-shadow: 8px -8px 7px darkmagenta ;
}

h3 {color: pink; 
    text-decoration: underline ;
    background-color: black ;
}


div span {
    color: blue ;
}


#div1
{ color: red; }

#texte {
    font-style: italic ;
}

.TEXTE {
    text-decoration: underline ;
}


