body {
    background-color : rgb(66, 66, 66)  ;
    margin-left : 13% ;
    margin-right: 13% ;
    padding : 8px ; 
    padding-bottom : 40px ; 
    position: relative
}

header, nav, aside {
    background-color: rgb(145, 143, 143) ;
    border : solid black .1px ;
    border-radius : 4px ; 
    box-shadow : 8px 8px 7px black ;  
}
/*----- en-tête -----------*/

header {
    position : relative ;
    top :0px ;
}
#titre {
    position : relative ; 
    left : -33px ;
    width : 220px ;
}

#loupe {
    position : absolute ;
    top : 13px ;
    right : 20px ; 
    width : 150px ;
}

#croix {
    position : absolute ; 
    bottom: 5px ;
    right : 5px ;
    width : 10px ;
}

#reload {
    position : absolute ;
    top : 5px ;
    right : 5px ;
    width : 10px ;
}


/*----------nav (menu gauche)-----------*/

nav {
    background-color: rgb(145, 143, 143) ;
    border : solid black .1px ;
    border-radius : 4px ; 
    box-shadow : 8px 8px 7px black ;  
    position : absolute ;
    left : 30px ;
    margin-top : 10px ; 
    width : 100px ;
}

#arrow {
    position : relative ;
    top : -5px ;
    right : 8px ;
    width : 40px ;
}

#main {
    position : relative ;
    top : -5px ;
    right : 8px ; 
    width : 40px ;
}

#oeil {
    position : relative ;
    top : -5px ;
    right : 8px ;
    width : 40px ;
}

#outil {
    position : relative ;
    top : -5px ;
    right : 8px ;
    width : 40px ;
}

#chat {
    position : relative ;
    top : -5px ;
    right : 8px ;
    width : 40px ;
}

/*-----------aside (menu droit)----------*/

aside {
    position : absolute ;
    right : 30px ;
    margin-top : 10px ; 
    width : 100px ;
    height : 300px ; 
    
    
}

#livre {
    position : relative ;
    top : -5px ;
    right : 8px ;
    width : 40px ;
    
}

#serviette {
    position : relative ;
    top : -5px ;
    right : 8px ;
    width : 40px ;
}

#mur {
    position : relative ;
    top : -5px ;
    right : 0px ;
    width : 40px ;
}

/*--------------contenu (au centre) --------------*/

div {
    position : absolute ;
    margin-right : 140px ;
    margin-left : 133px ; 
    margin-top : 10px ;
    padding : 4px ; 
    border : none ; 
    background-color: rgb(145, 143, 143) ;
    /* border : solid black .1px ;
    border-radius : 4px ; 
    box-shadow : 8px 8px 7px black ;   */
    
    
}

#cluster {
    position : relative ; 
    height : auto ; 
    width : 100% ; 
}






